@charset 'utf-8';
/* CSS Document */

/* reset */
body {margin: 0;}
h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table {margin: 0; padding: 0;}
 h2, h3, h4, h5, h6 {font-weight: 600;}
main {display: block;}
a {color: inherit; text-decoration: inherit;}
a img {border: none;}
img {vertical-align: middle;
    max-width: 600px;
    max-height: 600px;}
li {list-style: none;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i.fas, i.far, i.fab {vertical-align: middle; display: inline-block;}
i.fas span, i.far span, i.fab span {position: absolute; overflow: hidden; text-indent: -999px;}
.mobile {display: none !important;}
br.only-m {content: '';}
br.only-m:after {content: '\00a0';}
div.hidden {position: absolute; left: -9999px;}


/* common */
body {font-family: 'ë§‘ì€ ê³ ë”•', 'malgun gothic', 'ë‹ì›€', Dotum, 'Apple SD Gothic Neo', Helvetica, sans-serif; font-weight: 400; font-size: 14px; color: #333333 ; background: #ffffff;}
#wrapper {width: auto; height: auto; overflow: hidden;     margin: 0px auto;}
#skip-nav {position: fixed; left: 0; top: -41px; width: 100%; line-height: 40px; text-align: center; font-size: 16px; color: #ffffff; background: rgba(0, 0, 0, 0.6); border-bottom: 1px solid #ffffff; z-index: 100000; transition: top 0.3s;}
#skip-nav:focus {top: 0;}
#go-home {position: fixed; right: 20px; top: 20px; width: 60px; height: 60px; font-size: 24px; text-align: center; line-height: 56px; border-radius: 100px; color: #ffffff; background: #ffcc00; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); z-index: 10000;}
#main {padding: 10%;     margin: 0px auto;}
.image_size{
    align-items: center;
    align-content: center;
    text-align:center; 

    width:  100%;
    height: 100%;
    max-height: 500px;
    object-fit: cover;
}


/* image-slide */
div.image-slide {position: relative; margin: 0px auto; width: 100%; height: 400px;}
div.image-slide > div.box {
    position: absolute; 
    left: 0; top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    margin: 0px auto;
    text-align:center; }
div.image-slide ul.slide {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
div.image-slide ul.slide li {position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: none;}
div.image-slide ul.slide li:first-child {display: block;}
div.image-slide ul.slide li > a {display: block;}
div.image-slide ul.indicator {position: absolute; left: 0; bottom: 20px; width: 100%; text-align: center;}
div.image-slide ul.indicator li {display: inline-block;}
div.image-slide ul.indicator li + li {margin-left: 3px;}
div.image-slide ul.indicator li a {display: block; width: 10px; height: 10px; border: 3px solid #ffffff; border-radius: 20px; overflow: hidden; text-indent: -999px;}
div.image-slide ul.indicator li.on a {background: #ffffff;}
div.image-slide p.control a.prev,
div.image-slide p.control a.next {position: absolute; top: 50%; transform: translate(0, -50%);}
div.image-slide p.control a.prev {left: 14%;}
div.image-slide p.control a.next {right: 14%;}
div.image-slide p.control a.play {position: absolute; right: 20px; bottom: 15px; color: #ffffff; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); font-size: 18px;}
div.image-slide p.control a.play i.fa-pause {display: none;}
div.image-slide p.control a.play i.fa-play {display: inline-block;}
div.image-slide p.control a.play.on i.fa-pause {display: inline-block;}
div.image-slide p.control a.play.on i.fa-play {display: none;}
div.image-slide p.control a img {position: relative;}
div.image-slide p.control a i {position: relative;}





